<div class="container mt-5">
    <div class="card p-5">
        <form [formGroup]="forgetPasswordForm">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" required formControlName="email" />
                <label class="form-label" for="form2Example1">Email address</label>
                <div *ngIf="f['email'].touched || f['email'].dirty">
                    <div *ngFor="let validation of validationMessages.email">
                        <label class="text-danger" *ngIf="f['email'].hasError(validation.type)">
                            {{validation.message}}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="btn btn-primary  btn-block mb-4 w-100" (click)="forgetPassword()"
                        [disabled]="!forgetPasswordForm.valid">Recuperar Password
                    </button>
                </div>
            </div>


            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">               
                <div class="col d-flex justify-content-center">
                    <div >
                        <p>Not a member? <a href="/full/signup">Register</a></p>
                    </div>
                    
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a href="/full/login">Iniciar Sesión</a>
                </div>
            </div>         

        </form>
    </div>
</div>